/* reset */
* {
	margin: 0; padding: 0; box-sizing: border-box;
}

html, body { height: 100%; }

body { font: 16px Helvetica, Arial; }

main { 
	display: flex;
	height: 100%;
	flex-direction: column-reverse;
	
}
.form-container, .messages { padding: 20px; }

.form-container { 
	flex: 1; 
	border: 1px solid #d02035;
	background-color: #797979;

	label { display: block; margin-bottom: 0.5rem; }
	#typingStyle{
		margin-top: 20px;
		color: #eee;
		
	}
}

.messages { 
	flex: 2;
	background-color:#282828;
	border: 1px solid #d02035; 
}

input, textarea { 
	display: block; 
	width: 100%;
	border: 2px solid #bfcfd6;
	//border-color: #bfcfd6; 
	border-radius: 4px; 
	font-size: 0.8rem; 
	padding: 0.4rem; 
	border-style: solid;
}

textarea { height: 100px; }
#textArea{float: left;width: 650px;
   input{
	  margin: 10px  auto;
	   

   }

}
#nameArea{float: left;margin-right: 100px;width: 300px;margin-left: 80px;}


form {
	//background: #000;
	padding: 3px;
	margin: 12px auto;

	input[type=submit] { 
		
		width: auto; 
		padding: 10px; 
		background-color: #d02035;
		margin-top: 1rem; 
		
		color: white;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: bold;
	}

	input[type=submit]:hover{
		background-color:white;
		color: #d02035 ;
	}
}

#messages {
	list-style-type: none; margin: 0; padding: 0;

	li { padding: 5px 10px;	}
	li:nth-child(odd) { background: #eee; }
}

// imports

@import 'modules/_message';
