<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<main id="app">
		<section class="form-container">
			<div id="nameArea">
				<label for="nickname" style="color:white;font-weight: bolder;">Nickname</label>
				<input v-model="nickname" type="text" id="nickname" class="nickname"
					placeholder="Nickname(optional)">
					<p id="typingStyle">{{typeNotification.message}}</p>
			</div>

        <div id="textArea">
			<form>
				<label for="message"></label>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea" placeholder="Something to say?"></textarea>
				<input type="submit" @click.prevent="dispatchMessage">
			</form>
		</div>
			

			

		</section>





		<section class="messages scroller">

			<p class="joinLeaveNoti">{{enterNotification}}</p>
			<ul id="messages" v-for="message in messages">


				<!-- reder a now component for every message -->
				<transition appear name="fade">
					<newmessage :msg="message"></newmessage>
				</transition>
			</ul>

			<p class="joinLeaveNoti">{{leaveNotification}}</p>
		</section>

	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>

</html>