.new-message { 
    span { font-size: 0.8rem; display: block; margin-bottom: 2px; }

    width: 45%;
    padding: 8px 12px;
    background-color:white; 
    border-radius: 8px;
    margin-bottom: 1rem;

    float:left;
    clear: both;
}

.my-message {
    float: right !important;
    background-color: #86bf9d;
    color: white;
}



.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  .joinLeaveNoti{
    margin:20px auto;
    font-size: 0.8em;
    font-weight: lighter;
    font-style: italic;
    background-color:rgba(255,255,255,0.5);
    border-radius: 15px;
    
    text-align: center;
    width: 400px;
    color:grey;
}